# fly.toml app configuration file generated for lms-backend-fbhhiw-frosty-fog-9921 on 2025-11-21T10:41:19+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lms-backend-fbhhiw-frosty-fog-9921'
primary_region = 'bom'

[build]
  builder = 'paketobuildpacks/builder:base'

[env]
  ENVIRONMENT = 'production'
  PORT = '8000'
  PYTHONDONTWRITEBYTECODE = '1'
  PYTHONUNBUFFERED = '1'

[[mounts]]
  source = 'lms_data'
  destination = '/app/data'
  initial_size = '1gb'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 200
    soft_limit = 150

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
